<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>寵則計畫</title>
    {% load static %}
</head>
<body class="body">
    <div class="content">
        <img class="index_logo" src="{% static 'images/logo.png' %}" alt="一張圖片">
        <img class="index_logo_word" src="{% static 'images/logo和標準字_裁切空白處_01.png' %}" alt="一張圖片">
        <p class="introduce">
            寵物測驗×養寵原則
        </p>     
    </div> 
</body>
</html>